@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --botao-azul-efeito: #3c92fa;
    --fonte-principal: 'Inter', sans-serif;
    --fonte-size-principal: 16px;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color:var(--branco-principal);
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__principal{
    background-image: url("../imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container__caixa{
    margin: 0 6em;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5em;
    max-width: 20em;
    text-align: center;
}
.container__img{
    margin: 1em 0em 2em 0em;   
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 0.5em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    width: 30em;
    margin-bottom: 1em ;
    font-size: var(--fonte-size-principal);
    font-weight: 400;
}
.botao__secundario{
    
}